<div class="main">
    <div class="first"><section>
        <div ><h1 class="rec">React js</h1>   </div>
        
        <div  class="flex">

            <div class="cards">
<a href="https://webstore.surge.sh/"><h5>Eccomerce web-site</h5></a>
<img src="https://cdn.discordapp.com/attachments/1295809626142543956/1297608493465079849/Capture_decran_20-10-2024_181159_webstore.surge.sh.jpeg?ex=67168b95&is=67153a15&hm=9525ca6f13799b0e2614e3d7a1a8e44eadc8fde7cf030e38a6bf6cafcb64fa26&" alt="">
            </div>

        </div>
        
 
        </section>
        
        
        <section>
        <div><h1>Html,Css,Javascript</h1></div>   
        <div  class="flex">
        <div class="cards">
            <a href="https://bustling-scene-hotweb.surge.sh/"><h5>Log in site</h5></a>
<img src="https://cdn.discordapp.com/attachments/1295809626142543956/1297656150451421306/Capture_decran_20-10-2024_184216_webloginpagesd.netlify.app.jpeg?ex=6716b7f7&is=67156677&hm=16ba9f30b85078203dab53e3c04d8c5a1850c938eaec970f37cd16fe4c0fa482&" alt="">
        </div> 
        <div class="cards">
            <a href="https://handy-plant-website-po.surge.sh/"><h5>Website</h5></a>
<img src="https://cdn.discordapp.com/attachments/1295809626142543956/1297656149981663272/Capture_decran_20-10-2024_212125_handy-plant-website-po.surge.sh.jpeg?ex=6716b7f7&is=67156677&hm=fbaa112138202f19b54b9447bb9ee5d5ed3b1d9b9f7efeedb78370958c198759&" alt="">
        </div>
     </div>
        </section>
    </div>
    <div class="second"><section>
        <div><h1>Next js</h1>
        <h1> Coming soon</h1>
        </div>
        </section>
            
            
        <section>
        <div><h1>Angular js</h1>
            <h1> Coming soon</h1>
        </div>    
        </section></div>





</div>