<div class="div" >
  
    <div >
   <div class="Ayoub" [ngClass]="{'move' : ismove}" (click)="handleclick()"><img [ngClass]="{'movet' : ismove}" src="https://cdn.discordapp.com/attachments/1295809626142543956/1297181927522172928/Ayoub.png?ex=6714fe4f&is=6713accf&hm=0db00fd89929af8fd5e32343b5fefb284ef75f9f1e3d9886ee709d4b71532b42&" alt="" /></div>
    </div>
    <ul class="ul" [ngClass]="{'teen': isteen}">
       <h3>Ayoub-ig</h3>
   <li>Experienced in [React js,next js,Angular js]</li>
   <li>and makes a great design for all devices</li>
   
    </ul>
   
   </div>
   
   