

<div class="container con mt-5">

    <div class="divo">
    <div class="divi" >
      <a href="./Projects" >
      <app-collapse [pros]="tt[0][0]" [prost]="tt[0][1]" [prosth]="tt[0][2]" [carouselId]="'carousel1'"></app-collapse>
    </a>
    </div>
    <div class="div">
      <h2>Projects</h2>
    </div>
    <div class="divi" >
      <a href="./Webdesign" >
      <app-collapse class="divin" [pros]="tt[1][0]" [prost]="tt[1][1]" [prosth]="tt[1][2]" [carouselId]="'carousel2'"></app-collapse>
    </a>
    </div>
    <div class="div">
      <h3>Web Designs</h3>
    </div>
  </div>
  
    <div class="m-3">
      <app-adittion/>
  </div>